<a href="https://colab.research.google.com/github/ReanSchwarzer1/Notebooks/blob/master/DatalogBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from pyDatalog import pyDatalog

In [0]:
pip install --upgrade pyDatalog

Requirement already up-to-date: pyDatalog in /usr/local/lib/python3.6/dist-packages (0.17.1)

In [0]:
pip install pyDatalog

Collecting pyDatalog
  Downloading https://files.pythonhosted.org/packages/09/0b/2670eb9c0027aacfb5b5024ca75e5fee2f1261180ab8797108ffc941158a/pyDatalog-0.17.1.zip (304kB)
     |████████████████████████████████| 307kB 2.5MB/s
Building wheels for collected packages: pyDatalog
  Building wheel for pyDatalog (setup.py) ... done
  Created wheel for pyDatalog: filename=pyDatalog-0.17.1-cp36-cp36m-linux_x86_64.whl size=950767 sha256=1f01ba7ed6809f204c024557ae02e177625deec7e525704fbedb2e2862baf6de
  Stored in directory: /root/.cache/pip/wheels/dc/4e/90/b1b2d12ea976db63d78799ded3298ab2c6ee630072a0a49ea8
Successfully built pyDatalog
Installing collected packages: pyDatalog
Successfully installed pyDatalog-0.17.1

In [0]:
pyDatalog.create_terms('X,Y')
print(X==1)

X
-
1

In [0]:
print((X==True) & (Y==False))

X    | Y
-----|------
True | False

In [0]:
print((X==True) & (X==False))
print((X==input('Please enter your name : ')) & (Y=='Hello ' + X[0]))

[]
Please enter your name : amudha
X      | Y
-------|--------
amudha | Hello a

In [0]:
print((X==(1,2)+(3,)) & (Y==X[2]))

X         | Y
----------|--
(1, 2, 3) | 3

In [0]:
#To use your own functions in logic expressions, define them in Python, then ask pyDatalog to create logical terms for them:
def twice(a):
    return a+a

pyDatalog.create_terms('twice')
print((X==1) & (Y==twice(X)))

X | Y
--|--
1 | 2

In [0]:
#pyDatalog variables can be passed to functions in the Python standard library
import math
pyDatalog.create_terms('math')
print(X==2) and (Y==math.sqrt(X))

X
-
2

In [0]:
from pyDatalog import pyDatalog
pyDatalog.create_terms('X,Y,Z')

In [0]:
# give me all the X so that X is in the range 0..4
print(X.in_((0,1,2,3,4)))

print(X)

X
-
4
3
2
1
0
X

In [0]:
print(X.in_(range(5)).data)
print(X.in_(range(5)) == set([(0,), (1,), (2,), (3,), (4,)]))

[(4,), (3,), (2,), (1,), (0,)]
True

In [0]:
print("Data : ",X.data)
print("First value : ",  X.v())
# below, '>=' is a variable extraction operator
print("Extraction of first value of X: ", X.in_(range(5)) >= X)

Data :  [4, 3, 2, 1, 0]
First value :  4
Extraction of first value of X:  4

In [0]:
# give me all X in range 0..4 that are below 2
print(X.in_(range(5)) & (X<2))

X
-
1
0

In [0]:
# give me all X, Y and Z so that X and Y are in 0..4, Z is their sum, and Z is below 3
print(X.in_(range(5)) &
          Y.in_(range(5)) &
              (Z==X+Y) &
              (Z<3))

X | Y | Z
--|---|--
2 | 0 | 2
1 | 1 | 2
1 | 0 | 1
0 | 2 | 2
0 | 1 | 1
0 | 0 | 0

In [0]:
# calculate the net salary of employee foo and bar
from pyDatalog import pyDatalog
pyDatalog.create_terms('X,Y,Z, salary, tax_rate, tax_rate_for_salary_above, net_salary')

In [0]:
salary['foo'] = 60
salary['bar'] = 110

# Python equivalent
_salary = dict()
_salary['foo'] = 60
_salary['bar'] = 110
# give me all the X and Y so that the salary of X is Y
print(salary[X]==Y)
print
# python equivalent
print(_salary.items())

X   | Y
----|----
bar | 110
foo | 60
dict_items([('foo', 60), ('bar', 110)])

In [0]:
#A function has only one value for a given argument.
# foo now has a salary of 70
salary['foo'] = 70
print(salary['foo']==Y)
print

# Python equivalent
_salary['foo'] = 70
print('foo --> ' + str(_salary['foo']))

Y
--
70
foo --> 70

In [0]:
#A function can also be queried by value.
# give me all the X that have a salary of 110
print(salary[X]==110)
print

# procedural equivalent in python
for i, j in _salary.items():
    if j==110:
        print( i, '-->', j)

X
---
bar
bar --> 110

In [0]:
print((salary[X]==Y) & ~(Y==110))

X   | Y
----|---
foo | 70

In [0]:
# the tax rate for salaries above 0 is 33%, and above 100 is 50 %
(tax_rate_for_salary_above[X] == 0.33) <= (0 <= X)
(tax_rate_for_salary_above[X] == 0.50) <= (100 <= X)
print(tax_rate_for_salary_above[70]==Y)
print
print(tax_rate_for_salary_above[150]==Y)

Y
----
0.33
Y
---
0.5

In [0]:
net_salary[X] = salary[X]*(1-tax_rate_for_salary_above[salary[X]])
# give me all X and Y so that Y is the net salary of X
print(net_salary[X]==Y)

X   | Y
----|------------------
bar | 55.0
foo | 46.89999999999999

In [0]:
pyDatalog.create_terms('factorial, N')

factorial[N] = N*factorial[N-1]
factorial[1] = 1

print(factorial[3]==N)

N
-
6

In [0]:
#Aggregate Functions
from pyDatalog import pyDatalog
pyDatalog.create_terms('X,Y,manager, count_of_direct_reports')
# the manager of Mary is John
+(manager['Mary'] == 'John')
+(manager['Sam']  == 'Mary')
+(manager['Tom']  == 'Mary')
(count_of_direct_reports[X]==len_(Y)) <= (manager[Y]==X)
print(count_of_direct_reports['Mary']==Z)

Z
-
2

In [0]:
#Literals and sets
from pyDatalog import pyDatalog
pyDatalog.create_terms('X,Y,Z, works_in, department_size, manager, indirect_manager, count_of_indirect_reports')
# Mary works in Production
+ works_in('Mary', 'Production')
+ works_in('Sam',  'Marketing')

+ works_in('John', 'Production')
+ works_in('John', 'Marketing')

_works_in = set()
_works_in.add(('Mary', 'Production'))
_works_in.add(('Sam',  'Marketing'))
_works_in.add(('John', 'Production'))
_works_in.add(('John', 'Marketing'))
# give me all the X that work in Marketing
print(works_in(X,  'Marketing'))
print

# procedural equivalent in Python
for i in _works_in:
    if i[1]=='Marketing':
        print( i[0])

X
----
John
Sam
John
Sam

In [0]:
# one of the indirect manager of X is Y, if the (direct) manager of X is Y
indirect_manager(X,Y) <= (manager[X] == Y)
# another indirect manager of X is Y, if there is a Z so that the manager of X is Z, 
#   and an indirect manager of Z is Y
indirect_manager(X,Y) <= (manager[X] == Z) & indirect_manager(Z,Y)
print(indirect_manager('Sam',X))

X
----
Mary
John

In [0]:
# the manager of John is Mary (whose manager is John !)
manager['John'] = 'Mary'

print(indirect_manager('John',X))

X
----
John
Mary

In [0]:
# John does not work in Production anymore
- works_in('John', 'Production')
(count_of_indirect_reports[X]==len_(Y)) <= indirect_manager(Y,X)
print(count_of_indirect_reports['John']==Y)

Y
-
4

In [0]:
#Tree, graphs and recursive algorithms
pyDatalog.create_terms('link, can_reach')

# there is a link between node 1 and node 2
+link(1,2)
+link(2,3)
+link(2,4)
+link(2,5)
+link(5,6)
+link(6,7)
+link(7,2)
# links are bi-directional
link(X,Y) <= link(Y,X)

link(X,Y) <= link(Y,X)

In [0]:
# can Y be reached from X ?
can_reach(X,Y) <= link(X,Y) # direct link
# via Z
can_reach(X,Y) <= link(X,Z) & can_reach(Z,Y) & (X!=Y)

print (can_reach(1,Y))

Y
-
2
7
4
5
3
6