In [1]:
'''
Static typed (C/C++)

int a; //Data type is declared before using it

a = 5;

'''

'\nStatic typed (C/C++)\n\nint a; //Data type is declared before using it\n\na = 5;\n\n'

In [2]:
# Python is dynamically typed
a = 5
print(a)

5

In [3]:
a = 'Cognibot'  # Can use ' ' or " "
print(a)

Cognibot

In [4]:
'''
for(int i = 0; i < 10; i++){
cout
        <<i
;
}

for(int i = 0; i < 10; i++)
{
cout<<i;
}
'''

'\nfor(int i = 0; i < 10; i++){\ncout\n        <<i\n;\n}\n\nfor(int i = 0; i < 10; i++)\n{\ncout<<i;\n}\n'

In [9]:
for i in range(10):
    print(i)
print("Hello")

0
1
2
3
4
5
6
7
8
9
Hello

In [6]:
for i in range(10):
print(i)  #Whitespaces matter

IndentationError: expected an indented block (<ipython-input-6-230bd9c6dfc8>, line 2)

In [29]:
# Basics Operations

a = 10; b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b) # Integer division
print(a % b)  # Remainder
print(a ** b)  #Exponent

13
7
30
3.3333333333333335
3
1
1000

In [34]:
type(1.0)

float

In [20]:
a = 2 ** 1000  #Bignum inbuilt
print(a)

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [21]:
type(1)

int

In [14]:
type('Cognibot')

str

Variable names:
   * It can be only one word.
   * It can use only letters, numbers, and the underscore (_) character.
   * It canâ€™t begin with a number.
   * Variable name starting with an underscore (_) are considered as "unuseful`.

In [16]:
x = 1 + 2.5
a = b = c = 0
y, z, r = 10, 20, 30

In [17]:
print(a, y)

a , y = y, a

print(a, y)

0 10
10 0

In [35]:
x += 3 # x = x + 3
del x

In [37]:
print(2**100, 20*3, 40, "Hello")

1267650600228229401496703205376 60 40 Hello

In [44]:
print(10, 20, sep=',')
print(20, end=' ')
print(40)

10,20
20 40

In [45]:
name = 'Bob'

age = 30

# if name == 'Bob':
#     print(age)    

if name == 'Alice':
    print('Hi, Alice.')
elif age < 12:
    print('You are not Alice')
else:
    print('You are neither Alice nor a little kid.')

You are neither Alice nor a little kid.

In [46]:
# Single line comment
'''
Multiline
Comment
'''

'\nMultiline\nComment\n'

In [203]:
a = input("Enter a number:")
print(a)

Enter a number:10 20 30 40
10 20 30 40

In [204]:
a.split()

['10', '20', '30', '40']

In [49]:
type(a) # Data type

str

In [51]:
a = int(a)
type(a)

int

In [52]:
a = str(a)
type(a)

str

In [56]:
int(a) - 10

0

In [57]:
# ==, !=, =, <=, >=, <, > # Same as C/C++ languages

## Loops

In [59]:
# For loop

for i in range(10):
    if i % 2 == 0:
        print(i)

0
2
4
6
8

In [ ]:
# c = 'Cognibot'

# for i in c:
#     print(i)

In [60]:
i = 0

while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [63]:
for i in range(5):
    if i < 3:
        continue
    else:
        print(i)
        break

3

In [67]:
for val in range(6):
    if val == 3:
        continue
    print(val)

0
1
2
4
5

In [58]:
for i in range(0, 10, 2): # for(int i=0; i<10; i+=2)
    print(i)

0
2
4
6
8

## Functions

In [68]:
def func_name(arg1, arg2):
    print(arg1,arg2)

In [72]:
func_name(1,'hi')

1 hi

In [70]:
func_name('Hello','hi')

Hello hi

In [200]:
# Variable arguments
def func_name(*arguements):# (1, 2, 'hi')
    for arg in arguements:
        arg += 1
        print(arg)

In [202]:
abv = (1, 2, 3)
list(abv)

[1, 2, 3]

In [201]:
func_name(1,6.0)

2
7.0

In [75]:
func_name(1,2,'hi')

1 2 hi

In [76]:
# keyword arguments
def func_name(**kwargs):
    for key,value in kwargs.items(): #[(a, 1), (b, 6.0)]
        print(key,value)

In [77]:
func_name(a=1,b=6.0)

a 1
b 6.0

In [78]:
# Variable & keyword arguments
def func_name(*args,**kwargs):
    for arg in args:
        print(arg)
    for key,value in kwargs.items():
        print(key,value)

In [79]:
func_name('hi','there',a=1,b=6.0)

hi
there
a 1
b 6.0

## Data Structures

In [81]:
# Lists

l1 = [1,'hi',2.0]
print(l1)

[1, 'hi', 2.0]

In [82]:
type(l1)

list

In [85]:
l2 = list()
l2.append(1)
l2.append('hi')
l2.append(2.0)
print(l2)

[1, 'hi', 2.0]

In [86]:
l2[0]

1

In [87]:
l2[0] = 15
print(l2)

[15, 'hi', 2.0]

In [94]:
l2[:2] # Slicing

[15, 'hi']

In [95]:
l2[-2]

'hi'

In [96]:
len(l2)

3

In [97]:
del l2[1]
print(l2)

[15, 2.0]

In [98]:
l3 = l1+l2
print(l3)

[1, 'hi', 2.0, 15, 2.0]

In [99]:
l2 * 3

[15, 2.0, 15, 2.0, 15, 2.0]

In [100]:
for i in range(len(l1)):
    print(l1[i], end=' ')

1 hi 2.0

In [206]:
# Iterate list
for i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
    print(i, end=' ')
    
# Iterate list
for i in l1:
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9 10 12 14 16 18 20 22 24 26 28

In [109]:
print(l2)

[15, 2.0]

In [110]:
# x, y = 10, 20

In [108]:
for key,value in enumerate(l2):
    print(key,value)

0 15
1 2.0

In [122]:
# list[start:stop:skip]
l1 = range(10, 30, 2)
print(l1)

range(10, 30, 2)

In [123]:
l1 = list(l1)
print(l1)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [190]:
# list[start:stop:skip]
l1[0:6:2]

[10, 14, 18]

In [125]:
# Tuples - similar to lists, but immutable

t1 = (1,2,'hi')

In [126]:
t1[0]

1

In [127]:
t1[0] = 15

TypeError: 'tuple' object does not support item assignment

In [134]:
for i in t1:
    print(i, end=' ')

1 2 hi

In [136]:
for i in (9, 40):
    print(i, end=' ')

9 40

In [139]:
# key, value = (0, 1)

In [137]:
# enumerate
for key,value in enumerate(t1):
    print(key,value)

0 1
1 2
2 hi

In [207]:
for i in enumerate(l2):
    print(list(i))

[0, 15]
[1, 2.0]

In [141]:
print(list(enumerate(l2)))

[(0, 15), (1, 2.0)]

In [142]:
# Dictionaries

d1 = {
    'apple': 'a red fruit',
    'b': 2
}

In [144]:
print(d1)

{'apple': 'a red fruit', 'b': 2}

In [145]:
d1['b']

2

In [146]:
d1['apple'] = 3
print(d1)

{'apple': 3, 'b': 2}

In [147]:
d3 = dict()
d3['a'] = 1
d3['b'] = 2
print(d3)

{'a': 1, 'b': 2}

In [148]:
d3.keys()

dict_keys(['a', 'b'])

In [149]:
list(d3.keys())

['a', 'b']

In [150]:
d3.values()

dict_values([1, 2])

In [151]:
list(d3.values())

[1, 2]

In [152]:
d3.items()

dict_items([('a', 1), ('b', 2)])

In [153]:
list(d3.items())

[('a', 1), ('b', 2)]

In [155]:
# Iterate dictionary
for key,value in d3.items():
    print(key, value)

a 1
b 2

In [156]:
if 'a' in d3:
    print('yes')

yes

In [157]:
len(d3)

2

In [158]:
# List comprehension
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [160]:
a = list()
for i in range(10):
    if i % 2 == 0:
        a.append(i)
        
print(a)

[0, 2, 4, 6, 8]

In [159]:
[x for x in range(10) if x %2 == 0]

[0, 2, 4, 6, 8]

In [161]:
[x ** 2 for x in range(1, 11) if x % 2 == 1]

[1, 9, 25, 49, 81]

In [162]:
arr = [n for n in range(5)]
print(arr)

[0, 1, 2, 3, 4]

In [163]:
[arr for m in range(5)]

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [164]:
[[n+(m*10) for n in range(5)] for m in range(5)]

[[0, 1, 2, 3, 4],
 [10, 11, 12, 13, 14],
 [20, 21, 22, 23, 24],
 [30, 31, 32, 33, 34],
 [40, 41, 42, 43, 44]]

In [165]:
def check_str(x):
    if type(x) is str:
        return x
    else:
        return '-'
    
a = [1,2,4,'hi',4.5]

res = map(check_str,a)

In [ ]:
'''
Map - returns a list of the results after applying the given function
to each item of a given iterable (list, tuple etc.)
'''

In [167]:
type(res)

map

In [166]:
list(res)

['-', '-', '-', 'hi', '-']

In [168]:
# Zip - combine iterables

In [169]:
a = [1,2,3]
b = ['Me','You','Someone else']
c = [1.0,2.0,3.0]
res = zip(a, b, c)

In [170]:
list(res)

[(1, 'Me', 1.0), (2, 'You', 2.0), (3, 'Someone else', 3.0)]

In [171]:
for res in zip(a, b, c):
    print(res)

(1, 'Me', 1.0)
(2, 'You', 2.0)
(3, 'Someone else', 3.0)

In [172]:
for x, y, z in zip(a, b, c):
    print(x, y, z)

1 Me 1.0
2 You 2.0
3 Someone else 3.0

In [173]:
[x for x in zip(a, b, c)]

[(1, 'Me', 1.0), (2, 'You', 2.0), (3, 'Someone else', 3.0)]

In [174]:
[x for x in zip(a, b, c) if x[0]<3]

[(1, 'Me', 1.0), (2, 'You', 2.0)]

In [175]:
for x, y, z in zip(a, b, c):
    print(x)

1
2
3

## Modules

In [176]:
# Modules are like header files in C++. You can access the functions using the module names.

In [177]:
'''
#include<cmath>
#include<iostream>

using namespace std;

int main()
{
cout<<"Hello";
}

'''

'\n#include<cmath>\n#include<iostream>\n\nusing namespace std;\n\nint main()\n{\n  cout<<"Hello";\n}\n\n'

In [178]:
import math

In [179]:
math.cos(0)

1.0

In [181]:
from math import cos, sin
cos(0)

1.0

In [182]:
sin(0)

0.0

In [ ]:
import math as m
m.cos(0)

In [183]:
import math as m
m.cos(0)

1.0

In [188]:
!cat interest.py

def simple_interest(p, r, t):
	'''
	Calculate simple interest given p, r, t
	'''
	return(p*r*t/100)

def compound_interest(principle, rate, time):
	'''
	Calculate compound interest
	'''
	result = principle * (pow((1 + rate / 100), time))
	return result

In [184]:
# Create own module
import interest
interest.simple_interest(100, 5, 1)

5.0

In [185]:
interest.compound_interest(100, 5, 1)

105.0

In [186]:
from interest import simple_interest as si

In [187]:
si(100,5,1)

5.0